In [22]:
import pandas as pd

Esse codigo foi o lele que fez, se der erro n√£o tenho culpa

In [23]:
df = pd.read_csv('Ses_seguros.csv', sep=';')

In [21]:
df.describe()

,coenti,cogrupo,coramo,premio_emitido2,premio_emitido_cap,despesa_resseguros,sinistro_ocorrido,receita_resseguro,sinistros_ocorridos_cap,recuperacao_sinistros_ocorridos_cap,rvne,conveniodpvat,consorciosefundos
count,100.00000,100.000000,100.000000,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
mean,5164.97000,61176.190000,299.700000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,1194.70257,48798.371018,355.165447,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,-5096.00000,19.000000,11.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,5096.00000,571.750000,54.750000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,5096.00000,99999.000000,82.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,5631.00000,99999.000000,588.250000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,5762.00000,99999.000000,1164.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   damesano                             100 non-null    object
 1   coenti                               100 non-null    int64
 2   cogrupo                              100 non-null    int64
 3   coramo                               100 non-null    int64
 4   premio_direto                        100 non-null    object
 5   premio_de_seguros                    100 non-null    object
 6   premio_retido                        100 non-null    object
 7   premio_ganho                         100 non-null    object
 8   sinistro_direto                      100 non-null    object
 9   sinistro_retido                      100 non-null    object
 10  desp_com                             100 non-null    object
 11  premio_emitido2                      100 non-null    int64
 12  premio_emitido_cap                   100 non-null    int64
 13  despesa_resseguros                   100 non-null    int64
 14  sinistro_ocorrido                    100 non-null    int64
 15  receita_resseguro                    100 non-null    int64
 16  sinistros_ocorridos_cap              100 non-null    int64
 17  recuperacao_sinistros_ocorridos_cap  100 non-null    int64
 18  rvne                                 100 non-null    int64
 19  conveniodpvat                        100 non-null    int64
 20  consorciosefundos                    100 non-null    int64
dtypes: int64(13), object(8)
memory usage: 16.5+ KB